@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blue-card: #ddf8fe;
  --light: #d5e7f545;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --transition: 0.3s;
}
